.tweet-form {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #545149;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

.tweet-button-counter {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
font-family: 'Bungee';
font-size: 18px;
color: #FFFFFF;
background-color: #4056A1;
margin-top: 0.5em;
margin-bottom: 2em;
}

.tweet-counter {
  font-family: 'Bungee';
  font-size: 18px;
  color: #545149;
}

.tweet-counter.negative {
  color: red
}

#error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  background-color: #f4f1ec;
  border: 3px solid red;
  display: none;
  font-weight: 300;
  padding: 10px 0 40px 0;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 40px;
}

