.tweet-form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  align-self: flex-start;
  width: 100%;
}

.tweet-button-counter {
  display: flex;
  justify-content: space-between;
}

.tweet-button {
font-family: 'Bungee';
font-size: 18px;
color: #FFFFFF;
background-color: #4056A1;
margin-top: 0.5em;
margin-bottom: 2em;
}

.tweet-counter {
  font-family: 'Bungee';
  font-size: 18px;
  color: #545149;
}

.tweet-counter.negative {
  color: red
}

#tweet-text {
  width: 100%;
  background-color: #f4f1ec;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #545149;
}

#error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
  background-color: #f4f1ec;
  border: 3px solid red;
  display: none;
  font-weight: 300;
  padding: 10px 0 40px 0;
  margin: 1rem;
  height: 3rem;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 45%;
    margin-top: 11rem;
    margin-left: 3rem;
    margin-right: 1rem;
  }
}