.tweet-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  border: 2px solid #545149;
  color: #545149;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.tweet-container:hover {
  box-shadow: 7px 7px 3px rgba(163, 157, 242, 0.681);
}

.tweet-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #f4f1ec;
  padding-top: 0.5em;
  font-size: 18px;
}

.avatar-name {
  display: flex;
  align-items: center;
  margin-left: 1em;
  font-weight: 300;
}

.avatar-name img {
  margin-right: 0.5em;
}

.handle {
  display: flex;
  margin-left: auto;
  margin-right: 1.5em;
  opacity: 0.5;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: .5em;
  margin-right: .5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 2px solid #545149;
  font-size: 13px;
  font-weight: 300;
}

.emojis {
  color: #4056A1;
  margin-right: 1em;
  padding-top: 0.5em;
}

.tweet-footer i:hover.fa-flag {
  color: goldenrod;
}

.tweet-footer i:hover.fa-retweet {
  color: goldenrod;
}

.tweet-footer i:hover.fa-heart {
  color: goldenrod;
}

.days-ago {
  margin-left: 1em;
}

.tweet-body {
  display: flex;
  margin-left: 1em;
  font-size: 15px;
  padding-bottom: 0.5em;
}

